/*========== min ==========*/
@media (min-width:768px) {
    .ct-br-bf-m { display: block; }
    .visible-mobile { display: none !important; }
    .visible-device { display: block !important; }
}

/*========== max ==========*/
@media (max-width:991px) {
    .header {
        .navbar {
            .main-menu {
                .navbar-collapse {
                    position: relative;
                    width: 80%;
                    transition: 0.5s;
                    height: 100vh;
                    overflow-x: hidden;
                    position: absolute;
                    background-color: #FCDA06;;
                    display: block;
                    top: 0;
                    left: -90%;
                    padding-top: 50px;
                    .object-1 {
                        position: absolute;
                        max-width: 320px;
                        top: 10%;
                        left: -35%;
                    }
                    .object-2 {
                        position: absolute;
                        max-width: 320px;
                        bottom: -20px;
                        right: 0;
                        z-index: -1;
                    }
                    &.show {
                        left: -13px;
                        z-index: 2;
                        width: 110%;
                    }
                    .logo {
                        max-width: 135px;
                        margin: auto;
                        padding-bottom: 30px;
                        padding-top: 30px;
                    }
                    .close-nav {
                        position: absolute;
                        right: 5%;
                        top: 3%;
                        button {
                            i {
                                color: #fff;
                                font-size: 50px;
                            }
                        }
                    }
                    .menu {
                        .nav-item {
                            text-align: center;
                            font-size: 28px;
                            padding-bottom: 15px;
                        }
                    }
                    .social-list {
                        padding-left: 0px;
                        border-top: 4px solid #fff;
                        max-width: 280px;
                        margin: auto;
                        padding-top: 30px;
                        margin-top: 30px;
                        li {

                            display: inline-block;
                            font-size: 50px;
                            padding-right: 15px;
                            color: #3C58A5;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:767px) {
    .ct-br-m { display: block;}
    .visible-mobile { display: block !important; }
    .visible-device { display: none !important; }
    .two-columns { 
        .column {
            width: 100%;
         }
    }
    .section {
        .title-section {
            h3 {
                font-size: 32px;
            }
        }
    }
    
    #home__section {
        #vdo-bg {
            min-height: 500px;
            top: -6%;
        }
        .home-content {
            top: 25%;
            .object-1{
                max-width: 260px;
                left: -85px;
                top: -12%;
            }
            .object-2 {
                max-width: 160px;
                top: -20%;
            }
            .object-3 {
                max-width: 192px;
                top: -15%;
            }
            .object-4 {
                max-width: 149px;
                top: 37%;
                left: -5%;
            }
            .object-5 {
                max-width: 206px;
                left: -8%;
                top: 38%;
            }
            .object-6 {
                max-width: 200px;
                top: 45%;
            }
            .object-7 {
                max-width: 170px;
                top: 35%;
                right: 0;
            }
            .main-logo {
                max-width: 231px;
            }
            .home-content__head {
                .home-content__img {
                    max-width: 280px;
                    padding-top: 211px;
                    &:before {
                        background: url(../img/home-bg-m.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        bottom: -54%;
                    }
                }
                .home-content__title {
                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }
    }
    #home-content__section {
        padding-top: 110px;
        .home-content__last {
            font-size: 50px;
            line-height: 66px;
        }
        .object-1 {
            left: -35%;
        }
        .object-2 {
            right: 0;
            max-width: 175px;
            bottom: -9%;
        }
    }
    .metaverse-video {
        .wrapper {
            width: 335px !important;
            #player {
                width: 335px;
                height: 224px;
            }
            #video-cover {
                width: 335px;
            }
        }
    }
    #team__section {
        .object-1 {
            max-width: 324px;
            top: -13%;
            left: -37%;
        }
        .team-lists {
            width: 100%;
            .team-list {
                img {
                    width: 150px;
                }
                .title {
                    font-size: 28px;
                }
                .desc { 
                    font-size: 16px;
                }
            }
        }
    }
    #games__sention {
        .object-1 {
            max-width: 314px;
            top: -1%;
            left: -21%;
        }
        .games-box {
            &::before {
                width: 409px;
                height: 100%;
                top: 1%;
                left: -13px;
                background: url(../img/element/Games-BG-M.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .games-slide {
                .games-item {
                    .games-img {
                        max-width: 240px;
                        float: none;
                        margin: auto;
                    }
                    .games-content {
                        .btn {
                            .button {
                                width: 260px;
                                height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
    #exclusive__section {
        .exclusive-lists {
            .exclusive-list {
                img {
                    max-width: 120px;
                }
                .title {
                    font-size: 24px;
                }
                .desc {
                    font-size: 16px;
                }
            }
        }
    }
    #roadmap__section {
        .roadmap-content {
            padding: 10px 20px;
            .roadmap-content__row {
                .roadmap-content__row-num {
                    width: 30%;
                    .roadmap-content__num {
                        font-size: 32px;
                    }
                }
                .roadmap-content__row-text {
                    width: 70%;
                }
            }
        }
    }
}